body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.container {
  position: relative;
  margin-top: 15vh;
}

.hide {
  display: none;
}

.logo {
  width: 360px;
  display: block;
  margin: 0 auto;
}

.desc {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #2e2e2e;
}

.searchForm {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
.searchForm:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.url {
  width: calc(100% - 70px);
  margin-right: auto;
  display: flex;
}

.search-icon {
  width: 25px;
  height: 25px;
  padding: 0 15px;
  cursor: default;
}
.search-icon img {
  width: 25px;
  height: 25px;
}

input {
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

.buttonWrapper {
  width: 70px;
  height: 25px;
  display: flex;
}

.button {
  border: none;
  padding: 0;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
}
.button img {
  width: 25px;
  height: 25px;
}

.imageLoader {
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  top: 160px;
  width: 80%;
  left: 10%;
}
.imageLoader p {
  margin: 0;
}
.imageLoaderHeader {
  font-weight: bold;
  padding: 20px 0 0 20px;
}
.imageLoaderDesc {
  color: #2e2e2e;
  font-size: 0.8rem;
  padding: 0 0 20px 20px;
}
.imageLoaderMenu {
  width: calc(100% - 20px);
  padding-left: 20px;
}
.imageLoaderMenu span {
  width: 100px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.whiteBg {
  color: #585858;
  border: none;
}
.whiteBg:hover {
  color: #000;
}
.greyBg {
  background: #f5f5f5;
  border: 1px solid #dfe1e5;
  border-bottom: none;
  color: #000;
}
.image-loader {
  height: 70px;
  width: 100%;
  border-top: 1px solid #dfe1e5;
  background: #f5f5f5;
}

.imageUrlLoader {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
}
.imageUrlLoader input {
  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.imageUrlLoader button {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 2px;
  color: #fff;
  background-color: #4285f4;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}

.imageFileLoader {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.imageFileLoader button {
  margin-right: 10px;
}

.imageLoaderClose {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 220px;
  }
  .searchForm {
    width: 90%;
  }
  .imageLoader {
    top: 120px;
    width: 90%;
    left: 5%;
  }
}
