body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.container {
  margin-top: 15vh;
  position: relative;
}

.hide {
  display: none;
}

.close {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close:hover {
  transform: scale(1.1);
}

.logo {
  width: 360px;
  display: block;
  margin: 0 auto;
}

.desc {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #2e2e2e;
}

/* Search Form */

.search-form {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
.search-form:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.search-form_input {
  width: calc(100% - 70px);
  margin-right: auto;
  display: flex;
}
.search-form_input span {
  width: 25px;
  height: 25px;
  padding: 0 15px;
  cursor: default;
}
.search-form_input img {
  width: 25px;
  height: 25px;
}
.search-form_input input {
  width: 100%;
  border: none;
}
.search-form_input input:focus {
  outline: none;
}

.search-form_buttons_wrapper {
  width: 70px;
  height: 25px;
  display: flex;
}
.search-form_button {
  border: none;
  padding: 0;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background: none;
  cursor: pointer;
}
.search-form_button:hover {
  transform: scale(1.1);
}
.search-form_button img {
  width: 25px;
  height: 25px;
}

/* Image Loader */

.image-file {
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  top: 160px;
  width: 80%;
  left: 10%;
  animation: scale-up 0.1s;
}
.image-file p {
  margin: 0;
}
.image-file_header {
  font-weight: bold;
  padding: 20px 0 0 20px;
}
.image-file_desc {
  color: #2e2e2e;
  font-size: 0.8rem;
  padding: 0 0 20px 20px;
}
.image-file_menu {
  width: calc(100% - 20px);
  padding-left: 20px;
}
.image-file_menu span {
  width: 100px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.white-bg {
  color: #585858;
  border: none;
}
.white-bg:hover {
  color: #000;
}
.grey-bg {
  background: #f5f5f5;
  border: 1px solid #dfe1e5;
  border-bottom: none;
  color: #000;
}

.image-file_loader {
  height: 70px;
  width: 100%;
  border-top: 1px solid #dfe1e5;
  background: #f5f5f5;
}

.image-file_loader_url {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
}
.image-file_loader_url input {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.image-file_loader_url input:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.image-file_loader_url input:focus {
  outline: none;
}

.image-file_loader_url button {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 2px;
  color: #fff;
  background-color: #4285f4;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}

.image-file_loader_url button:hover {
  transform: scale(1.1);
}

.image-file_loader_local {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.image-file_loader_local button {
  margin-right: 10px;
}

/* Canvas */

.result {
  margin: 50px auto;
  width: 90%;
  border: 1px solid #dfe1e5;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: scale-up 0.1s;
}
.result_header {
  width: 100%;
  background: #f1f1f1;
  position: relative;
}
.result_logo {
  padding: 5px 10px;
  height: 30px;
}
.canvas-wrapper {
  margin: 10px;
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 20px);
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.canvas {
  margin: 10px;
  cursor: crosshair;
}
.circle {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.result_status {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.result_status_color {
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 60px;
  margin: 10px;
}
.result_status_color_current {
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 60px;
  height: 20px;
  margin: 10px;
}

.result_status_codes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result_status_codes {
  font-size: 0.8rem;
  margin: 10px;
}
.result_status_codes div {
  display: flex;
  justify-content: space-between;
  width: 150px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dfe1e5;
}
.result_status_codes img {
  cursor: pointer;
  height: 0.8rem;
}
.result_status_codes img:hover {
  transform: scale(1.1);
}

.alert {
  background: #505050;
  color: #d4d4d4;
  position: absolute;
  width: calc(100% - 20px);
  padding: 10px;
  bottom: 0;
  left: 0;
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.8) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 220px;
  }
  .image-file {
    top: 120px;
    width: 90%;
    left: 5%;
  }
}
@media only screen and (max-width: 576px) {
  .search-form {
    width: 90%;
  }
  .result_status {
    width: calc(100% - 40px);
  }
}
